.homepage-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #111;
}

.homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.homepage-settings-button {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.homepage-settings-icon {
  width: 25px;
  height: 25px;
  display: block;
}

.homepage-divider {
  border: none;
  height: 1px;
  background-color: #e9e7e8;
  margin: 8px 0;
}

.homepage-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.homepage-subtitle {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
