#root {
  padding: 2rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
}

.header {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
